@media only screen and (max-width: 800px) {
  #restaurant-container, #reviews-container {
    width: 100%;
    padding-top: 0;
  }
  .inside #map-container {
    position: inherit;
    height: 400px;
    width: 100%;
    padding-top: 131px;
  }
  #maincontent, .inside #footer, .inside #breadcrumb {
    width: 100%;
  }
}
