@media only screen and (max-width: 450px) {
  #restaurants-list li {
    background-color: pink;
    min-height: 50px;
    height: 100px;
    width: 100%;

    /* display: grid;
    grid-template-columns: 33.3% 33% 33.3%;
    grid-template-rows: auto auto auto auto;
    grid-gap: 0;
    grid-template-areas:
      "image name name"
      "image city city"
      "image address address"
      "image details details"; */
  }

  #restaurants-list .restaurant-img {
    grid-area: image;

  }
  #restaurants-list li h1 {
    color: pink;
    grid-area: name;
  }

  #restaurants-list li p:first-of-type {
    color: cyan;
    grid-area: city;
  }
  #restaurants-list li p:last-of-type {
    color: purple;
    grid-area: address;
  }
  #restaurants-list li a {
    color: pink;
    grid-area: details;
  }
}
